# Environnement virtuel
ndiarama_env/
.venv/
env/
venv/

# Variables d'environnement (NE JAMAIS committer)
*.env
.env
.env.*
!.env.example

# Django
__pycache__/
*.pyc
*.pyo
*.pyd
staticfiles/
media/
db.sqlite3
*.log

# Build / IDE
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
